<div class="container">
    <div class="form-container">
        <div class="header">
            <img src="./../assets/images/mealmasterlogo.png" alt="Card image cap">
            <h3>Registration Form</h3>
        </div>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" formControlName="email" id="email">
                <div
                    *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
                    <div class="text-danger" *ngIf="registrationForm.get('email')?.hasError('required')">Email is
                        required</div>
                    <div class="text-danger" *ngIf="registrationForm.get('email')?.hasError('email')">Invalid email
                        format</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" formControlName="username" id="username">
                <div
                    *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
                    <div class="text-danger" *ngIf="registrationForm.get('username')?.hasError('required')">Username is
                        required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" id="password">
                <div
                    *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
                    <div class="text-danger" *ngIf="registrationForm.get('password')?.hasError('required')">Password is
                        required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" />
                <div
                    *ngIf="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
                    <div class="text-danger" *ngIf="registrationForm.get('password')?.hasError('required')">Confirm
                        Password is
                        required</div>
                </div>
            </div>
            <div class="text-danger" *ngIf="registrationForm.errors && registrationForm.errors['passwordMismatch']"
                class="error-message">
                Passwords dose not match.
            </div>
            <br>
            <div class="buttons">
                <button type="submit" class="button-submit" [disabled]="!registrationForm.valid">Register</button>
                <button type="button" class="button-cancel" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>