<div class="dash-container">
    <div class="header">
        <img src="./../assets/images/mealmasterlogo.png" alt="Card image cap">

        <div class="right-content">
            <div class="search-container">
                <input #search type="text" placeholder="Search..." class="search-input">
                <button (click)="performImageSearch()" class="search-button">Search</button>
            </div>
            <button (click)="openUploadImage()">Ajouter une image</button>
        </div>

    </div>

    <div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
        <div class="loader-circle"></div>
    </div>
    <div class="image-list  justify-content-left align-items-start" *ngIf="!isLoading">

        <div *ngFor="let image of images$ |async">
            <div class="card custom-card" style="width: 18rem;">
                <img class="card-img-top" style="height: 15rem;" [src]="image.data" alt="{{ image.name }}">
                <div class="card-body">
                    <p class="card-text">{{image.description}}</p>
                    <div class="d-flex flex-row gap-2 mb-2 flex-wrap">
                        <span *ngFor="let tag of image.tags.slice(0,4)"
                            class="badge rounded-pill bg-success">{{tag}}</span>
                        <span class="cursor-pointer	badge rounded-pill bg-success" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" [attr.title]="image.tags.slice(4,image.length).join(',')"
                            *ngIf="image.tags.length > 4">...</span>
                    </div>
                    <div class="d-flex flex-row gap-2 justify-content-end h-100">
                        <button class="btn btn-danger delete-btn " (click)="deleteopenModal(image)">Supprimer</button>
                        <button class="btn btn-primary edit-btn" (click)="openModal(image)">Modifier</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>